body, html{
    background-color: #fddbfd;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .tabela{
    background-color: #fff1ff;
    border: 5px double #BA55D3;
    border-radius: 5%;
    font-size: 50px;
    padding: 5px 8px;
  }
  td{
    border: 2px solid #BA55D3;
    border-radius: 5%;
    text-align: center;
    padding: 5px 8px;
    width: 50px;
    color:#BA55D3;
  }
  
  
  .titulo{
    color: #cc00ff;
  
  }